@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --branco:#fff;
    --preto: #000;
    --bg-color1:#323B45;
    --bg-color2:#101623;
    --container-bg-color:#1E1F24;
    --header-color1:#2C2E45;
    --header-color2:#545D70;
    --link-hover-color:#FFAE00;
    --banner-shadow-color1:#000000;
    --banner-shadow-color2:#00000000;
}

body{
    display:flex;
    flex-direction: space-around;
    margin:0;
    padding:0;
    background-color: var(--bg-color1);
    background: linear-gradient(180deg, var(--bg-color1) 0%,  var(--bg-color2) 100%);
    color: var(--branco);
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    overflow-x: hidden;
}

#container{
    background-color: var(--container-bg-color);
    max-width: 1280px;
    margin:50px;
    min-height: calc(100vh - 100);
    flex-grow: 1;
    box-shadow: -10px 10px 40px var(--preto);
}

header{
    background: linear-gradient(90deg, var(--header-color1) 0%,  var(--header-color2) 100%);

}

nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav >img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 3vw;;
    align-self: flex-start;
}

nav > ul{
    width: 100%;
    display:flex;
    justify-content: center;
    gap: 7vw;
}

nav > ul > li{
    list-style: none;
    text-decoration: none;
    display:inline;
}

a{
    text-decoration: none;
    color: var(--branco);
}

a:hover {
    color: var(--link-hover-color);
}

#banner{
    height: 600px;
    background-image: url('../images/banner2.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-shadow{
    height: 100%;
    background: linear-gradient(0deg, var(--banner-shadow-color1) 0%,  var(--banner-shadow-color2) 50%, var(--banner-shadow-color2) 100%);
    position: relative;
}

#banner h1{
    position: relative;
    font-size: 65px;
    top: -180px;
    left: 50px;
    text-transform: uppercase;
}

#info{
    display: flex;
    justify-content: space-between;
}

#sobre{
    flex: 1;
    

}

#habilidades{
    flex: 1;
    
}

#social {
    display: flex;
}

#social img {
    width: 50px;
   padding: 10px;
   transition: width 100ms ease-in-out;
}

#social img:hover {
    width: 55px;
  
}

#social span {
    padding: 10px;
    font-size: 18px;
    background: linear-gradient(90deg, var(--header-color1) 0%,  var(--banner-shadow-color2) 100%);
    margin: 10px;
    
}

div.title{
    background: linear-gradient(90deg, var(--banner-shadow-color1) 0%,  var(--banner-shadow-color2) 50%);
    font-size: 36px;
    padding: 10px 30px;
    margin: 0 0 20px 0;
}

#sobre p{
    margin: 30px;
}

p{
    font-size: 28px;
    font-weight: lighter;
}

